.card_style {
    padding: 1rem;
    margin: 2rem auto; 
    width: 250px;
    height: 300px ;
}

/* .flex-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 5%;
    margin: 20px;
  } */

  .footer {
    flex-shrink: 0;
    text-align: center;
    /* color: rgb(15, 19, 241); */
    background-color:  rgb(52, 54, 160);
    height: 10%;
  }